<div >
    <div class="headers">
    <h2 class="table-title">Gestion des articles</h2>
    
   

<app-create ></app-create>
<div>
    <table datatable *ngIf="produits.length !=0"   class="table table-striped table-bordered table-sm row-border hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Référence</th>
            <th>Désignation</th>
            <th>Prix</th>
            <th>Quantité</th>
        
            <th>Edit</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody >
    <tr *ngFor="let p of produits">
        <td><img src={{p.imageart}} alt="" width="50" /></td>
        <td>{{p.reference}}</td>
        <td>{{p.designation}}</td>
        <td>{{p.qtestock}}</td>
        <td>{{p.prix}}</td>

        <td>
            
            <app-edit [productId]="p._id"  ></app-edit>
        </td>
       
        <td><button type="button" class="btn btn-danger" (click)="delarticle(p._id)">
            <i class="bi bi-trash3"></i>

        </button></td>
    </tr>
</tbody>

</table>
</div>